footer.container-fluid
    nav.row
        a.active.col-xs-3(href="index.html")
            em
                i
            p 商品
        a.col-xs-3(href="order.html")
            em
                i
            p 订单
        a.col-xs-3(href="earnings.html")
            em
                i
            p 收益
        a.col-xs-3(href="join.html")
            em
                i
            p 加盟代理