doctype html
html
    head
        title 斑马购首页
        include includes/meta
        link(rel='stylesheet' href='lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='css/base.css')
    body
      h3 Hello World !