//
   Created by Origin on 4/19/2016.

doctype html
html
    head
        title VIDEO
        include includes/meta
        link(rel='stylesheet' href='/lib/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/base.min.css')
    body
        video(width="100%" height="100%" controls="controls")
            source(src="/video/test.mp4" type="video/mp4")
            | Your browser does not support the video tag.