@import "global";
.sliderBanner {
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    p {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 28px;
        margin: 0;
        padding: 0 10px;
        line-height: 28px;
        font-size: 1.6rem;
        color: #fff;
        background-color: rgba(0, 0, 0, .5);
        z-index: 50;
    }
    ol {
        position: absolute;
        right: 10px;
        bottom: 5px;
        z-index: 15;
        padding: 0;
        margin-bottom: 0;
        text-align: center;
        list-style: none;
        z-index: 56;
        li {
            display: inline-block;
            width: 8px;
            height: 8px;
            margin: 1px;
            text-indent: -999px;
            cursor: pointer;
            background-color: #97a2a6;
            border-radius: 10px;
            &.active {
                width: 8px;
                height: 8px;
                background-color: $default-color;
            }
        }
    }
    ul {
        position: relative;
        width: 100%;
        padding: 0;
        margin: 0;
        li {
            display: none;
            width: 100%;
            a {
                display: block;
                width: 100%;
                img {
                    display: block;
                    width: 100%;
                }
            }
            &.prev {
                display: block;
                position: absolute;
                top: 0;
                left: -100%;
            }
            &.active {
                display: block;
            }
            &.next {
                display: block;
                position: absolute;
                top: 0;
                left: 100%;
            }
        }
    }
}

nav {
    background-color: #f2f2f2;
    a.active span:before {
        background-color: transparent;
    }
}

section {
    a {
        display: block;
    }
    dl {
        padding: 10px;
        margin-bottom: 0;
        border-bottom: 1px solid #f2f2f2;
        background-color: #fff;
        dt {
            float: left;
            width: 102px;
            height: 68px;
            img {
                display: block;
                width: 102px;
                height: 68px;
            }
        }
        dd {
            margin-left: 116px;
            h3 {
                position: relative;
                left: -6px;
                margin-top: 10px;
                margin-bottom: 0;
                font-size: 1.4rem;
                color: #333;
                @include word-nowrap;
                text-overflow: ellipsis;
            }
            p {
                height: 34px;
                margin: 6px 0 0 0;
                font-size: 1.2rem;
                color: #999;
                overflow: hidden;
            }
        }
    }
}